* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  color: #fff;
  text-align: center;
  padding: 20px 0;
  background-color: #3a8def;
}

footer {
  color: #fff;
  text-align: center;
  padding: 20px 0;
  background-color: #3a8def;
}

input:focus,
button:focus {
  outline: none;
}

.wrapper {
  max-width: 1140px;
  margin: 100px auto;
  flex: 1;
}

.calculator {
  border: 2px solid #aaa;
  display: flex;
  width: 450px;
  align-items: flex-start;
  align-content: stretch;
  flex-wrap: wrap;
  margin: auto;
  box-shadow: 3px 5px 5px #787;
}

@media (max-width: 480px) {
  .calculator {
    width: 90vw;
  }
}

.btn:first-of-type {
  font-weight: 600;
}

.btn {
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-bottom: 0;
  border-right: 0;
  padding: 10px;
  font-size: 2rem;
  width: 25%;
  color: #333;
  background-color: #fff;
}

.btn:active {
  background-color: #f8f8f8;
}

.btn-lg {
  width: 50%;
}

.btn.btn-blue {
  color: #3a8def;
  background-color: #eee;
}

.btn.btn-blue:active {
  background-color: #ddd;
}

.btn.btn-green {
  color: #fff;
  background-color: #1ecc40;
}

.btn.btn-green:active {
  background-color: #18aa35;
}

.btn.btn-nl-b {
  border-left: 0;
}

.screen {
  width: 95%;
  padding: 10px 0;
  text-align: right;
  border: none;
}

.screen.bottom {
  margin-bottom: 5px;
  color: #777;
  font-size: 20px;
}

.screen.top {
  font-size: 32px;
}

