* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus,
button:focus {
  outline: none;
}

.wrapper {
  max-width: 1140px;
  margin: 100px auto;
}

.calculator {
  border: 2px solid #aaa;
  display: flex;
  width: 450px;
  align-items: flex-start;
  align-content: stretch;
  flex-wrap: wrap;
  margin: auto;
}

.btn:first-of-type {
  font-weight: 600;
}

.btn {
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-bottom: 0;
  border-right: 0;
  padding: 10px;
  font-size: 2rem;
  width: 25%;
  color: #333;
  background-color: #fff;
}

.btn-lg {
  width: 50%;
}

.btn.btn-blue {
  color: #3a8def;
  background-color: #eee;
}

.btn.btn-green {
  color: #fff;
  background-color: #1ecc40;
}

.btn.btn-nl-b {
  border-left: 0;
}

.screen {
  width: 430px;
  padding: 10px 0;
  text-align: right;
  border: none;
}

.screen.bottom {
  margin-bottom: 5px;
  color: #777;
  font-size: 20px;
}

.screen.top {
  font-size: 32px;
}

